#logo
{
    margin-top: 30px;
    margin-bottom: 30px;
}

h2
{
    margin-bottom: 20px;
}

#request-account
{
    margin-top: 15px;
}

#login-email-form
{
    margin: 0px auto;
    width: 300px;
}

#cf
{
    margin-top: 30px;
    margin-bottom: 30px;
}