
th.name
{
    width: 10%;
}

th.phone-number
{
    width: 10%;
}

th.email-address
{
    width: 10%;
}

th.ethnicity
{
    width: 10%;
}

th.gender
{
    width: 10%;
}

th.dob
{
    width: 10%;
}

th.school
{
    width: 10%;
}

th.program
{
    width: 10%;
}

th.actions
{
    width: 10%;
}

th.stoked-start-date
{
    width: 10%;
}